body {
  background-image: url(file:///C:/Users/Dell/Downloads/Pizza%20%F0%9F%8D%95.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  margin: 0;
}

.contact-container {
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(255, 160, 122, 0.7);
  border: 10px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #000;
}

.contact-container form {
  margin-top: 15px;
}

.contact-container label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.contact-container input[type="text"], .contact-container input[type="email"], .contact-container textarea {
  width: 90%;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.contact-container input[type="text"]:focus, .contact-container input[type="email"]:focus, .contact-container textarea:focus {
  outline: none;
  border-color: #FF8C00;
  box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
}

.contact-container textarea {
  height: 100px;
}

.contact-container input[type="submit"] {
  width: 90%;
  height: 30px;
  background-color: #FF8C00;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-container input[type="submit"]:hover {
  background-color: #FFA07A;
}